
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alataregular';
    src: url('fonts/alata-regular-webfont.woff2') format('woff2'),
         url('fonts/alata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General */

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion:no-preference ) {
    * {
        scroll-behavior: smooth;
}
}

html {
    font-size: 10px;
    font-family: 'open_sansregular', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

li {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

.header-nav__logo {
    font-family: 'alataregular', sans-serif;
    font-weight: 500;
    padding: .5rem .8rem;
    border: .3rem solid white;
    text-decoration: none;
    font-size: 3rem;
    color: white;
    transition: box-shadow .3s ease-in-out;
}

.header-nav__logo:hover {
    box-shadow: 0 0 .7rem rgba(255, 255, 255 ,0.4);
}

.header-nav__list {
    display: flex;
}

.header-nav__item:not(:first-child) {
    margin-left: 3rem;
}

.header-nav__link {
    font-family: 'alataregular', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: opacity .3s ease-in-out;
}

.header-nav__link:hover {
    opacity: 1;
}

.header-nav__link::after {
    content: '';
    display: block;
    width: 0;
    height: .3rem;
    background: white;
    transition: width .3s ease-in-out;
}

.header-nav__link:hover::after {
    width: 100%;
}

.active {
    opacity: 1;
}

/* Main */

.main {
    margin-bottom: 5rem;
}

/* Box */

.window__container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40rem;
    height: 40rem;
    background-color: transparent;
}

.window__cube {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 45%;
    background-color: white;
    border: 5px solid white;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.window__cube:hover {
    background-color: transparent;
}

.window__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 45%;
    background-color: transparent;
    border: 5px solid white;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.window__cube:hover .window__link {
    opacity: 1;
}

/* Info */

.info {
    margin-top: 10rem;
}

.info__img {
    width: 20rem;
    object-fit: cover;
    border: .1rem solid rgba(255, 255, 255 ,0.4);
    background: linear-gradient(0deg, rgba(255, 255, 255, .6), rgba(0, 0, 0, .8)) ;
}

.info__paragraph {
    font-size: 1.6rem;
}

.info__paragraph:nth-child(1) {
    font-size: 2.4rem;
    font-weight: bold;
}

/* Resume */

.resume {
    padding-top: 10rem;
}

.resume__heading {
    font-size: 2.6rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 4rem;
    padding-left: 2rem;
    border-bottom: .1rem rgba(255, 255, 255 ,0.2);
    font-family: 'alataregular', sans-serif;
}

.resume__paragraph {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 1);
}

.resume__link {
    color: rgba(255, 255, 255, 1);
}

.resume__link:hover {
    text-decoration: underline;
}

.resume__line {
    margin-top: .5rem;
    font-size: 1.2rem;
    display: block;
    color: rgba(255, 255, 255 , 0.8);
}

.resume__list {
    display: flex;
}

.resume__date {
    font-size: 1.4rem;
    color: rgba(255,255,255,0.6);
    vertical-align: top;
}

/* Works */

.works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10rem;
}

.works__item {
    position: relative;
    width: 49%;
}

.works__link {
    width: 100%;
}

.works__image {
    width: 100%;
    max-height: 42rem;
    object-fit: cover;
    transition: all .3s ease-in-out;
    opacity: 0.8;
}

.works__image:hover {
    box-shadow: 0 0 1rem rgba(194, 194, 194, 0.2);
    opacity: 1;
}

.works__paragraph {
    text-align: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255 ,0.4);
}


/* Footer */

#page-container {
    position: relative;
    min-height: 95vh;
}

#content-wrap {
    padding-bottom: 3rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    border-top: .1rem solid rgb(255, 255, 255, 0.2);
    padding-top: 2rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav__link {
    font-size: 2rem;
    padding: .5rem;
    color: white;
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}

.footer-nav__link:hover {
    opacity: 1;
}

.footer-nav__email {
    font-size: 1.2rem;
    color: white;
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}

.footer-nav__email:hover {
    opacity: 1;
}

.footer-nav__copyright {
    font-size: 1.2rem;
    color: white;
    opacity: 0.8;
}

/* Responsive */

@media (max-width: 1200px) {
    .works__item {
        width: 100%;
    }
}